<h1>Your Trips</h1>

<div>
  <p>Welcome, <%= @user.first_name %>!</p>
</div>
<div>
  <ul>
    <% @user_trips.each do |trip| %>
      <li>
        <a href="/trips/<%=trip.id%>"><%= trip.name %></a>
      </li>
    <% end %>
  </ul>
</div>
<div>
  <a href="/trips/new">Add a New Trip</a>
</div>
