<div class="container">
  <div id="mytrips" class="jumbotron">
    <h1 class="brand-yellow"><%= link_to @trip.name, trip_path(@trip) %></h1>
  </div>
  <div>
    <p class="description">Invitation sent to <%= @friend.first_name %> <%= @friend.last_name %></p>
    <a href="/trips/<%= @trip.id %>"">Return to trip home page</a>
  </div>
</div>
