<h1><%=@trip.name%></h1>
<div>
  <h2><%=@user.first_name%></h2>
  <div>Contact</div>
  <div><%=@user.email%></div>
</div>
<div>
  <h2>Travel</h2>
</div>
<div>
  <h2>Accommodations</h2>
</div>
<div>
  <h2>Events</h2>
</div>
