<div class="container">
  <div id="homepage" class="jumbotron text-center">
    <h1>Future home of <i>Tie-In</i>!</h1>
    <p class="description-yellow">an app that removes the <span class="brand-light-blue">logistic hassle</span> from group travel</p>
  </div>
  <div id="homepage" class="container jumbotron text-center">
    <h2>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test.</h2>
    <p class="description">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
  </div>
  <div class="container text-center">
      <h2 class="brand-orange">We <i class="fa fa-heart"></i> new travel friends!</h2>
      <!-- <ul class="list-inline list-social"> -->
        <span class="fa-stack fa-lg">
          <a href="#">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </a>
        </span>
        <span class="fa-stack fa-lg">
          <a href="#">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
          </a>
        </span>
        <span class="fa-stack fa-lg">
          <a href="#">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x"></i>
          </a>
        </span>
                <span class="fa-stack fa-lg">
          <a href="#">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-google-plus-official fa-stack-1x"></i>
          </a>
        </span>
        <span class="fa-stack fa-lg">
          <a href="#">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-snapchat-square fa-stack-1x"></i>
          </a>
        </span>
      <!-- </ul> -->
  </div>
</div>

