<div class="container">
  <div id="mytrips" class="jumbotron text-center">
        <h1>Tie-In</h1>
        <%= image_tag "Tiein_braid150_152.png", class: "featurette-image img-responsive center-block" %>
        <p class="description-yellow">an app that removes the <span class="brand-light-blue">logistic hassle</span> from group travel so that everyone can <span class="brand-orange"><i>Tie-In</i></span>!</p>
      </div>
  <div class="container text-center">
      <h2 class="brand-orange">We <i class="fa fa-heart"></i> new travel friends!</h2>
      <!-- <ul class="list-inline list-social"> -->
        <span class="fa-stack fa-lg">
          <a href="#">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </a>
        </span>
        <span class="fa-stack fa-lg">
          <a href="#">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
          </a>
        </span>
        <span class="fa-stack fa-lg">
          <a href="#">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x"></i>
          </a>
        </span>
                <span class="fa-stack fa-lg">
          <a href="#">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-google-plus-official fa-stack-1x"></i>
          </a>
        </span>
        <span class="fa-stack fa-lg">
          <a href="#">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-snapchat-square fa-stack-1x"></i>
          </a>
        </span>
      <!-- </ul> -->
  </div>
</div>

