<div class="jumbotron text-center">
  <h1>Future home of <i>Tie-In</i>!</h1>
  <p>an app that removes the <span class="brand">logistic hassle</span> from group travel</p>
</div>
<div class="jumbotron text-center">
  <h2>Capitalise on low hanging fruit to identify a ballpark value added activity to beta test.</h2>
  <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
</div>
<div class="container text-center">
    <h2 class="brand">We <i class="fa fa-heart"></i> new friends!</h2>
    <ul class="list-inline list-social">
        <li class="social-twitter">
            <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="social-facebook">
            <a href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="social-google-plus">
            <a href="#"><i class="fa fa-google-plus"></i></a>
        </li>
    </ul>
</div>

