<div class="container">
  <div id="mytrips" class="jumbotron">
    <h2 class="brand-yellow"><%= @user.first_name %>, you will soon have a friend!</h2>
  </div>
  <div>
    <p class="description">An invitation was sent to <%= @email %>.</p><br />
    <button class="btn"><%= link_to "Back to trip", user_trips_path(current_user) %></button>

  </div>
</div>
