  <p><input type="text" name="location[name]" placeholder="Name"></p>
  <p><input type="text" name="location[street_address_1]" placeholder="Street Address"></p>
  <p><input type="text" name="location[street_address_2]" placeholder="Secondary Address"></p>
  <p><input type="text" name="location[city]" placeholder="City"></p>
  <p><input type="text" name="location[state]" placeholder="State"></p>
  <p><input type="text" pattern="[0-9]{5}" name="location[zipcode]" placeholder="Zipcode"></p>
